DATABASE_URL="file:./suguly.db"
ORANGE_MONEY_API_KEY=
ORANGE_MONEY_API_SECRET=
ORANGE_MONEY_MERCHANT_ID=
SMS_API_KEY=
SMS_SENDER_NAME=Suguly
NEXTAUTH_SECRET=
NEXTAUTH_URL=https://suguly.com
NEXT_PUBLIC_SITE_URL=https://suguly.com
